/*
Author: Cassie Lewis
https://clewisdev.com
Date: February 2023
*/

/*
COOLORS color palette link
https://coolors.co
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --darkest-gray: rgba(28, 28, 28, 1);
    --dark-blue: rgba(39, 53, 73, 1);
    --mid-blue: rgba(47, 62, 83, 1);
    --purple: rgb(184, 113, 224);
    --grass-green: rgb(22, 170, 121);
    --light-gray: rgba(213, 212, 216, 1);
    --white: rgba(236, 253, 245, 1);
  
    
    /*BORDER RADIUS*/
    --br-soft: .25rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1rem;
    --fs-m: 1.25rem;
    --fs-l: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    
    background-color: var(--darkest-gray);
    text-align: left;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: var(--fs-l);
    color: var(--white);
}

.heading {
    color: var(--grass-green);
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: .625rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: var(--darkest-gray);
    color: var(--purple);
    font-size: var(--fs-m);
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: var(--br-soft);
}

hr {
    max-width: 450px;
    color: var(--purple);
    margin-bottom: 2.2rem;
}

@media (max-width: 500px) {

    body {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: var(--fs-s);
    }
}


/****** MAIN CONTAINER ******/

.main-container {
    min-width: 300px;
    background-color: var(--dark-blue);
    padding: 1rem 3.25rem;
    margin: 1rem;
}



/****** BUTTON STYLING ******/

.generate-btn {
    display: block;
    width: 200px;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-s);
    color: var(--darkest-gray);
    background-color: var(--grass-green);
    padding: .75rem .25rem;
    margin: 2.2rem auto;
    border: none;
    border-radius: var(--br-soft);
}

/****** INPUT FIELD STYLING ******/

#result-two {
    margin-bottom: 1.5rem;
}
.pw-container, .input-group {
    margin-bottom: 1rem;
}

input[type="text"] {
    width: 211px;
    height: 40px;
    accent-color: var(--purple);
    color: var(--grass-green);
    font-weight: 900;
    text-align: center;
    margin-right: .5rem;
    border: none;
    border-radius: var(--br-soft);
    background-color: var(--mid-blue);

}

input[type="range"], input[type="checkbox"] {
    accent-color: var(--purple);
}

.copy-pw-one, .copy-pw-two {
    width: 75px;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-s);
    color: var(--darkest-gray);
    background-color: var(--grass-green);
    padding: .5rem 1rem;
    border: none;
    border-radius: var(--br-soft);
}

label, span {
    font-family: 'Inter', sans-serif;
    color: var(--grass-green);
    padding: .5rem;
}

.checkbox-group {
    background-color: var(--mid-blue);
    padding: .5rem 1rem;
    border-radius: var(--br-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* p {
    width: 211px;
    height: 40px;
    color: var(--grass-green);
    border: none;
    border-radius: var(--br-soft);
    background-color: var(--mid-blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 7rem;
 
    display: flex;
    flex-direction: row;
    gap: 1rem;

} */

@media (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}