/*
Author: Cassie Lewis
https://clewisdev.com
Date: February 2023
*/

/*
fIGMA WIREFRAME
https://www.figma.com/file/NEj9JDycMjF3XKXq7swoc9/Random-Password-Generator-(New-version)?node-id=0%3A1&t=mtfU5pinaRfZOJS2-0
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --darkest-gray: rgba(28, 28, 28, 1);
    --dark-blue: rgba(39, 53, 73, 1);
    --mid-blue: rgba(47, 62, 83, 1);
    --purple: rgb(184, 113, 224);
    --grass-green: #22E2A2;
    --light-gray: rgba(213, 212, 216, 1);
    --white: rgba(236, 253, 245, 1);
  
    
    /*BORDER RADIUS*/
    --br-soft: .25rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1rem;
    --fs-m: 1.25rem;
    --fs-l: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    background-color: var(--darkest-gray);
    text-align: left;
    margin-top: 2rem;
    
    display: flex;
    justify-content: center;
    
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: var(--fs-l);
    color: var(--white);
}

/****** DIV TO CHANGE PART OF HEADING TEXT COLOR ******/
.title-color {
    color: var(--grass-green);
}


h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: var(--darkest-gray);
    color: var(--purple);
    font-size: var(--fs-m);
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: var(--br-soft);
}

hr {
    max-width: 450px;
    color: var(--purple);
    margin-bottom: 2.2rem;
}

@media (max-width: 500px) {

    body {
        text-align: center;
        margin-top: 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1rem;
        padding: .25rem 2rem;
        margin-bottom: 1rem;
    }
}


/****** MAIN CONTAINER ******/

header {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: .625rem;
}

.main-container {
    min-width: 300px;
    background-color: var(--dark-blue);
    padding: 1rem 3.25rem;
    margin: 1rem;
}

@media (max-width: 500px) {
    header {
        margin-top: 2rem;
    }

    .main-container {
        padding: .5rem;
    }
}


/****** BUTTON STYLING ******/

.generate-btn {
    display: block;
    width: 200px;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-s);
    color: var(--darkest-gray);
    background-color: var(--grass-green);
    padding: .75rem .25rem;
    margin: 2.2rem auto;
    border: none;
    border-radius: var(--br-soft);
}


/****** GLOBAL INPUT FIELD STYLING ******/

.pw-container, .input-group {
    margin-bottom: 1rem;
} 

label, span {
    font-family: 'Inter', sans-serif;
    color: var(--grass-green);
    padding: .5rem;
}

input[type="text"] {
    width: 200px;
    height: 40px;
    accent-color: var(--purple);
    color: var(--grass-green);
    font-weight: 900;
    text-align: center;
    margin-right: .25rem;
    border: none;
    border-radius: var(--br-soft);
    background-color: var(--mid-blue);

}

input[type="range"], input[type="checkbox"] {
    accent-color: var(--purple);
}

/****** COPY BUTTON STYLING ******/

.copy-pw-one, .copy-pw-two {
    width: 60px;
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-xs);
    color: var(--darkest-gray);
    background-color: var(--grass-green);
    padding: .5rem;
    border: none;
    border-radius: var(--br-soft);

    text-align: center;
}


/****** RANGE FIELD STYLING ******/

.range-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#pw-length {
    padding: .5rem;
}

.range-container {
    display: flex;
}

/****** CHECKBOX FIELDS STYLING ******/

.checkbox-group {
    background-color: var(--mid-blue);
    padding: .5rem 1rem;
    border-radius: var(--br-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

@media (max-width: 500px) {
    .checkbox-group{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .range-group {
        display: flex;
        flex-direction: column;
    }
}


/****** FOOTER - CONTAINS ALL INPUTS ******/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/****** ALERT ******/

.alert { /*! FOR JAVASCRIPT */
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--purple);
    color: var(--darkest-gray);
    font-size: var(--fs-m);
    padding: 1rem;
    border-radius: var(--br-soft);
}

/****** HIDE LABELS FOR TEXT INPUT FIELDS ******/

 .hidden {
    position: absolute;
    clip-path: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  } 